.logoContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.triggerContainer {
  margin-top: 8px;
  height: 40px;
}

.customTrigger {
  padding: 0 24px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  bottom: 14px;
}

.customTrigger:hover {
  color: #1890ff;
}

.divider {
  position: absolute;
  bottom: 46px;
  margin-bottom: 0 !important;
}
