@import '~antd/dist/antd.css';

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

html {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

#__next {
  font-family: 'Poppins' !important;
  background-color: #f0f2f5;
  height: 100%;
  width: 100%;
}
